@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-cointaner{
    display: flex;
    height: 100dvh;
    justify-content: space-around;
    align-items: center;
}

.bgCointaner{

    /* border: 2px solid black; */
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(131, 129, 129);
    height: 500px;
    width: fit-content;
    padding: 50px;
    text-align: center;
}

#InputBGfile{
    display: none;
}

.bgUploadBtn{
    font-family: "Urbanist", sans-serif;
    letter-spacing: 0.5px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(90, 199, 96);
    color: aliceblue;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;

    &:hover{
        color: rgb(255, 255, 255);
        background-color: rgb(62, 156, 86);
    }

}

