@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


:root {
    --midnight-blue: #23339bbb;
    --royal-blue: #408EC6;
    --burgundy-red: #7A2048;

    --peri: #735DA5;
    --lilac: #D3C5E5;

    --teal: #20948B;
    --light-green: #6AB187;
}
body{
    height: 100dvh;
    background: linear-gradient(to right, rgb(79 177 213 / 75%), rgb(255 89 241 / 80%), rgb(178 191 0 / 58%));
    background-size: 400% 400%;
    /* background: url(./imgs/1.gif); */
    animation: animate 20s infinite ease-in-out;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
    align-items: center;

}
@keyframes animate {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 50% 50%;
    }
}

.bgContainer,
.szContainer {
    display: grid;
    /* border: 2px solid black; */
    background: #e9e4ff4a;    
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(131, 129, 129);
    height: 500px;
    width: fit-content;
    padding: 20px;
    margin: 40px;
    text-align: center;
}

h1 {
    font-family: "Nerko One";
    color: rgb(47 159 165);
}

#InputBGfile {
    display: none;
}


.bgUploadBtn , .download{
    font-family: "Urbanist", sans-serif;
    letter-spacing: 0.5px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(90, 199, 96);
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;

    &:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(62, 156, 86);
    }

}

#downloadBtn{
    display: none;
}

.img-Preview {
    height: 20rem;
    width: 100%;

}

/* ----------------- SIZE CONTAINER ---------------------- */

.szContainer {
    box-sizing: border-box;
    /* background: linear-gradient(to right, var(--midnight-blue), var(--burgundy-red)); */
    color: white;
    display: flex;
    width: 340px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

}

.uploadBox,.imageBox{
    cursor: pointer;
    /* background-color: var(--burgundy-red); */
    background-color: var(--midnight-blue);
    /* margin-top: 20px; */
    border: 1px dashed #Fff;
    border-radius: 7px;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
        font-size: 50px;
    }

    p {
        margin-top: 15px;
    }

}

.imageBox {
    display: none;
}

#addedImg{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.changeBox {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


#width,
#height {
    margin-left: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 10px 5px;

}


input[type="checkbox"] {
    cursor: pointer;
}

.download {
    font-family: "Urbanist", sans-serif;
    letter-spacing: 0.5px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(90, 199, 96);
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    width: 100%;

    &:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(62, 156, 86);
    }

    i {
        margin-left: 3px;
    }
}